@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1f2937;
  --primary: #ffffff;
  --secondary: #f8fafc;
  --accent: #FFB400;
  /* Brighter Golden Yellow */
  --accent-hover: #e5a100;
  --footer-bg: #1e293b;
  /* Slate 800 */
  --text-dark: #1f2937;
  --text-dim: #64748b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-footer-bg: var(--footer-bg);
  --color-text-dark: var(--text-dark);
  --color-text-dim: var(--text-dim);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}